﻿<template>
  <v-dialog width="700" height="420" v-model="localDialogVisible" :persistent="true">
    <template v-slot:default>
      <v-card title="Оставьте заявку и мы с вами свяжемся для уточнения деталей">
        <v-card-text>
          Уточним ряд вопросов, чтобы озвучить точную стоимость и сроки изготовления
          <v-text-field class="mt-2" label="Имя" variant="outlined"></v-text-field>
          <v-text-field label="Номер" variant="outlined"></v-text-field>
          <v-text-field label="Комментарий" variant="outlined"></v-text-field>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="red"
            text="Отмена"
            @click="closeDialog"
          ></v-btn>
          <v-btn
            style="margin-right: 16px;"
            text="Отправить"
          ></v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>


<script>
export default {
  data() {
    return {
      localDialogVisible: true,
    }
  },
  props: {
    dialogVisible: Boolean,
  },
  mounted() {
    this.localDialogVisible = this.dialogVisible
  },
  methods: {
    closeDialog() {
      this.$emit('close-dialog')
    }
  }
}
</script>
<style scoped lang="scss">
  .dialog {
    width: 800px;
    height: 600px;
    position: absolute;
    top:100px;
    left:550px;
    z-index: 1000;
  }
</style>
