<template>
  <v-app>
    <v-app-bar>
      <v-toolbar-title
        style="margin-left: 34px"
      >
        НЕОН
      </v-toolbar-title>
      <v-btn class="font-weight-bold">МАГАЗИН</v-btn>
      <v-btn class="font-weight-bold">КОНСТРУКТОР</v-btn>
      <v-btn class="font-weight-bold">ОПЛАТА И ДОСТАВКА</v-btn>
      <v-btn class="font-weight-bold">ОТЗЫВЫ И КЕЙСЫ</v-btn>
      <v-btn class="font-weight-bold">FAQ</v-btn>
      <v-btn class="font-weight-bold">КОНТАКТЫ</v-btn>
      <v-btn class="font-weight-bold">ПАРТНЕРАМ</v-btn>
      <span class="ml-10" style="margin-top: 1px">
        +8 818 457 20 38
      </span>
      <v-btn
        class="mr-10 ml-10 font-weight-bold"
        variant="outlined"
      >
        ОСТАВИТЬ ЗАЯВКУ
      </v-btn>
    </v-app-bar>
    <v-main>
      <customDialog
        v-if="dialogVisible"
        :dialog-visible="dialogVisible"
        @close-dialog="closeDialog"
      />
      <div class="bgimg d-flex align-center">
        <div class="d-flex flex-row">
          <div class="d-flex flex-column justify-center" style="height: 100%;margin-left: 140px">
            <span class="textInfo">Закажите топовую неоновую вывеску </span>
            <span class="textInfo">для интерьера, бизнеса, видеосъемок</span>
            <span class="textInfo">и мероприятий</span>
            <span class="textInfoTwo mt-10">От 2500 и с гарантией 18 месяцев</span>
            <span class="textInfoTwo">Экспресс доставка по России. В Москву и ЦАО за 2-3 дня!</span>
            <div class="d-flex flex-row mt-10">
              <v-btn variant="outlined" class="infoBtn" @click="openDialog">Запросить стоимость</v-btn>
              <v-btn variant="outlined" class="infoBtn">Конструктор*</v-btn>
            </div>
          </div>
          <div style="width:800px; height:500px;margin-left: 160px">
            <v-carousel class="carousel">
              <v-carousel-item
                src="../src/assets/2.jpg"
                :cover="true"
              ></v-carousel-item>

              <v-carousel-item
                src="../src/assets/5.jpg"
                :cover="true"
              ></v-carousel-item>

              <v-carousel-item
                src="../src/assets/6.jpg"
                :cover="true"
              ></v-carousel-item>
            </v-carousel>
          </div>
        </div>

      </div>

    </v-main>
  </v-app>
</template>


<script>


import CustomDialog from "@/components/customDialog.vue";

export default {
  components: {CustomDialog},
  data() {
    return {
      dialogVisible: false,
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4',
        ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth',
        ],
      }
    },
  methods: {
    openDialog() {
      this.dialogVisible = true;
    },
    closeDialog() {
      this.dialogVisible = false;
    }
  }
  }
</script>
<style lang="scss">
  .bgimg{
    height: 100%;
    background-image: url("../src/assets/4.jpg");
  }
  .textInfo {
    font-weight: 600;
    font-size: 38px;
    color: white;
  }
  .textInfoTwo {
    font-weight: 400;
    font-size: 24px;
    color: white;
  }
  .infoBtn {
    color: pink !important;
    margin-right: 20px;
  }
  .carousel {
    border-radius: 8px;
    .v-btn__underlay {
      opacity: 0.5 !important;
    }
  }
</style>

